.graddient {
  background: rgb(255, 240, 229);
  background: radial-gradient(
    circle,
    rgba(255, 240, 229, 1) 0%,
    rgba(255, 255, 255, 1) 90%
  );
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}
.product-image {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.product-image img {
  min-width: 100%;
}

.product-image:hover {
  transform: translateX(-100%);
}
